
#main{display:flex;flex-direction: column;align-items:center;gap:20px;padding:20px;font-family:sans-serif;width:1200px;height:800px}
.container{display:flex;flex-direction: column;align-items:center;justify-content: center;height:800px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.timer{font-size:1.5rem;margin-bottom:8rem;}
#display-text{display:flex;font-size:1.5rem;margin-bottom:2rem;}
#click-button{background-color:rgb(88, 209, 88);justify-content: center;display: flex;align-items: center;border-radius: 1rem;
    padding: 1rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.5rem;}
#click-button:hover{background-color:rgb(155, 216, 155)}
#click-button:active{background-color:rgb(60, 100, 60)}
#click-button:disabled{background-color:rgb(200, 200, 200);cursor:not-allowed}

